<% include ../partials/header %>

<section class="section app">
  <div class="container">
    <p class="title"><a href="/apps">WebCatalog Store</a></p>
    <p class="subtitle"><a href="/downloads">Download WebCatalog</a> to explore and install apps for Mac, Windows & Linux.</p>
    <hr>
    <div class="columns">
      <div class="column is-4">
        <div class="content">
          <div class="has-text-centered">
            <p class="category"><a href="/apps/category/<%= encodeURIComponent(app.category) %>"><%= app.category.replace('+', ' & ') %></a></p>
            <a href="/s3/<%= app.id %>.png">
              <figure class="image is-128x128 app-icon">
                <picture>
                  <source srcset="/s3/<%= app.id %>.webp" type="image/webp">
                  <source srcset="/s3/<%= app.id %>.png" type="image/jpeg">
                  <img src="/s3/<%= app.id %>.png" alt="<%= app.name %> on the WebCatalog Store">
                </picture>
              </figure>
            </a>
            <h1 class="title"><%= app.name %></h1>
            <h2 class="subtitle is-6"><a href="<%= app.url %>" target="_blank" rel="noopener noreferrer"><%= extractDomain(app.url) %></a></h2>
            <a class="button is-info open" href="webcatalog://apps/<%= app.id %>">Open in WebCatalog</a>
            <p>Don't have WebCatalog? <a href="/downloads">Download for free.</a></p>

            <% if (user && user.isAdmin) { %>
            <a class="button" href="/admin/edit/id<%= app.id %>">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <% if (app.description) { %>
          <p><%= app.description %> <a href="https://en.wikipedia.org/wiki/<%= encodeURIComponent(app.wikipediaTitle || app.name) %>" target="_blank" rel="noopener noreferrer">Wikipedia</a></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
