<% include ../partials/header %>
<% include ../partials/search %>

<section class="section app">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <nav class="breadcrumb is-medium">
            <ul>
              <li><a href="/">WebCatalog</a></li>
              <li><a href="/apps">Apps</a></li>
              <% if (app.category) { %>
              <li>
                <a class="category" href="/apps/category/<%= app.category %>"><%= app.category.replace('+', ' & ') %></a>
              </li>
              <% } %>
              <li>
                <a href="/apps/details/<%= app.slug %>/<%= app.id %>"><%= app.name %></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
    <hr>
    <div class="columns">
      <div class="column is-4">
        <div class="content">
          <div class="has-text-centered">
            <a href="https://s3.getwebcatalog.com/<%= app.id %>.png?v=<%= app.version %>">
              <figure class="image is-128x128 app-icon">
                <picture>
                  <source srcset="https://s3.getwebcatalog.com/<%= app.id %>.webp?v=<%= app.version %>" type="image/webp">
                  <source srcset="https://s3.getwebcatalog.com/<%= app.id %>.png?v=<%= app.version %>" type="image/jpeg">
                  <img src="https://s3.getwebcatalog.com/<%= app.id %>.png?v=<%= app.version %>" alt="<%= app.name %>">
                </picture>
              </figure>
            </a>
            <h1 class="title"><%= app.name %></h1>
            <h2 class="subtitle is-6"><a href="<%= app.url %>" target="_blank" rel="noopener noreferrer"><%= extractDomain(app.url) %></a></h2>

            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=421147911601047";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-share-button" data-href="https://webcatalog.io/apps/details/<%= app.slug %>/<%= app.id %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent("https://webcatalog.io/apps/details/" + app.slug + "/" + app.id) %>&amp;src=sdkpreparse">Share</a></div>

            <script>window.twttr = (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
              if (d.getElementById(id)) return t;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);

              t._e = [];
              t.ready = function(f) {
                t._e.push(f);
              };

              return t;
            }(document, "script", "twitter-wjs"));</script>
            <div class="twitter-share-button-container"><a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a></div>

            <% if (user && user.isAdmin) { %>
            <a class="button" href="/admin/edit/id<%= app.id %>">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h2>How to Install <%= app.name %> on Your <%= platform === 'mac' ? 'Mac' : platform === 'linux' ? 'Linux Machine' : 'PC' %></h2>

          <ol>
            <li><a href="/download" target="_blank">Download the installation file.</a></li>
            <% if (platform === 'windows') { %>
            <li>If prompted, click <b>Run</b> or <b>Save</b>.</li>
            <li>If you chose <b>Save</b>, double-click the download to start installing.</li>
            <li>Start <b>WebCatalog</b> from your desktop.</li>
            <% } %>
            <% if (platform === 'mac') { %>
            <li>Open the file called <b>WebCatalog-<%= version %>.dmg</b>.</li>
            <li>In the window that opens, find <b>WebCatalog</b> icon.</li>
            <li>Drag <b>WebCatalog</b> to the <b>Applications</b> folder.</li>
            <li>Start <b>WebCatalog</b> from your Launchpad.</li>
            <% } %>
            <% if (platform === 'linux') { %>
            <li>To open the package, click <b>OK</b>.</li>
            <li>Click <b>Install Package.</b></li>
            <li>Start <b>WebCatalog</b>.</li>
            <% } %>
            <li>Type <b><%= app.name %></b> in the search box to look for the app.</li>
            <li>Locate <b><%= app.name %></b> in the search results.</li>
            <li>Click <b>Install</b>.</li>
            <li>Click <b>Open</b> to start <b><%= app.name %></b>.</li>
          </ol>

          <hr/>

          <% if (app.description) { %>
          <p><%= app.description %> <a href="https://en.wikipedia.org/wiki/<%= encodeURIComponent(app.wikipediaTitle || app.name) %>" target="_blank" rel="noopener noreferrer">Wikipedia</a></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
