<% include ../partials/header %>
<% include ../partials/search %>

<section class="section apps">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            <li><a <% if (!category) { %>class="is-active"<% } %> href="/apps<% if (sort) { %>?sort=<%= sort %><% } %>">All</a></li>
          </ul>
          <p class="menu-label">
            Categories
          </p>
          <ul class="menu-list">
            <% categories.forEach(function (c) { %>
            <li><a class="category<% if (c === category) { %> is-active<% } %>" href="/apps/category/<%= c %><% if (sort) { %>?sort=<%= sort %><% } %>"><%= c.replace('+', ' & ') %></a></li>
            <% }) %>
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="tabs is-centered is-boxed">
          <ul>
            <li class="category<% if (!sort || sort === 'installCount') { %> is-active<% } %>"><a href="/apps<% if (category) { %>/category/<%= category %><% } %>?sort=installCount">Top Apps<% if (category) { %> in <%= category.replace('+', ' & ') %><% } %></a></li>
            <li class="category<% if (sort === 'createdAt') { %> is-active<% } %>"><a href="/apps<% if (category) { %>/category/<%= category %><% } %>?sort=createdAt">New Apps<% if (category) { %> in <%= category.replace('+', ' & ') %><% } %></a></li>
          </ul>
        </div>
        <div class="columns is-multiline">
          <% var appCardClassName = "is-half-tablet is-one-third-desktop" %>
          <% apps.forEach(function (app) { %>
          <% include ../partials/app-card %>
          <% }) %>
        </div>
        <nav class="pagination is-centered">
          <% if (currentPage > 1) { %>
          <a class="pagination-previous" href="/apps/category/<% if (category) { %>/<%= category %><% } %>?page=<%= currentPage - 1 %><% if (sort) { %>&sort=<%= sort %><% } %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPage) { %>
          <a class="pagination-next" href="/apps<% if (category) { %>/category/<%= category %><% } %>?page=<%= currentPage + 1 %><% if (sort) { %>&sort=<%= sort %><% } %>">Next</a>
          <% } %>
          <ul class="pagination-list">
            <% pages.forEach((page) => { %>
            <% if (page > 0) { %>
            <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/apps<% if (category) { %>/category/<%= category %><% } %>?page=<%= page %><% if (sort) { %>&sort=<%= sort %><% } %>"><%= page %></a></li>
            <% } else { %>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
