<% include ../partials/header %>

<section class="section apps">
  <div class="container">
    <h1 class="title">
      <a href="/apps">WebCatalog Store</a>
      <% if (category) { %>
      <span> > </span>
      <a class="category" href="/apps?category=<%= encodeURIComponent(category) %>"><%= category.replace('+', ' & ') %></a>
      <% } %>
    </h1>
    <hr>
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            <li><a href="/apps<% if (sort) { %>?sort=<%= sort %><% } %>">All</a></li>
          </ul>
          <p class="menu-label">
            Categories
          </p>
          <ul class="menu-list">
            <% categories.forEach(function (c) { %>
            <li><a class="category" href="/apps?category=<%= encodeURIComponent(c) %><% if (sort) { %>&sort=<%= sort %><% } %>"><%= c.replace('+', ' & ') %></a></li>
            <% }) %>
          </ul>
        </aside>
      </div>
      <div class="column">
        <form class="field" action="/apps<% if (category) { %>?category=<%= category %><% } %>">
          <p class="control">
            <span class="select">
              <select name="sort" onchange="this.form.submit()">
                <option value="installCount" <% if (sort === 'installCount') { %>selected="selected"<% } %>>Most Downloaded</option>
                <option value="name" <% if (sort === 'name') { %>selected="selected"<% } %>>Name</option>
                <option value="createdAt" <% if (sort === 'createdAt') { %>selected="selected"<% } %>>Recently Added</option>
              </select>
            </span>
          </p>
        </form>
        <div class="columns is-multiline">
          <% apps.forEach(function (app) { %>
          <div class="column is-half-tablet is-one-third-desktop">
            <div class="card app">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <a href="/apps/<%= app.slug %>/id<%= app.id %>">
                      <figure class="image is-64x64 app-icon">
                        <picture>
                          <source srcset="/s3/<%= app.id %>@128px.webp" type="image/webp">
                          <source srcset="/s3/<%= app.id %>@128px.png" type="image/jpeg">
                          <img src="/s3/<%= app.id %>@128px.png" alt="<%= app.name %> on the WebCatalog Store">
                        </picture>
                      </figure>
                    </a>
                    <p class="title is-5 has-text-centered"><a href="/apps/<%= app.slug %>/id<%= app.id %>"><%= app.name %></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <nav class="pagination is-centered">
          <% if (currentPage > 1) { %>
          <a class="pagination-previous" href="/apps<% if (category) { %>?category=<%= encodeURIComponent(category) %>&page=<% } else { %>?page=<% } %><%= currentPage - 1 %><% if (sort) { %>&sort=<%= sort %><% } %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPage) { %>
          <a class="pagination-next" href="/apps<% if (category) { %>?category=<%= encodeURIComponent(category) %>&page=<% } else { %>?page=<% } %><%= currentPage + 1 %><% if (sort) { %>&sort=<%= sort %><% } %>">Next</a>
          <% } %>
          <ul class="pagination-list">
            <% pages.forEach((page) => { %>
            <% if (page > 0) { %>
            <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/apps<% if (category) { %>?category=<%= encodeURIComponent(category) %>&page=<% } else { %>?page=<% } %><%= page %><% if (sort) { %>&sort=<%= sort %><% } %>"><%= page %></a></li>
            <% } else { %>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
