<% include ../partials/header %>
<% include ../partials/search %>

<section class="section apps">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">
            <a href="/apps">WebCatalog Store</a>
            <% if (category) { %>
             > 
            <a class="category" href="/apps/category/<%= category %>"><%= category.replace('+', ' & ') %></a>
            <% } %>
          </h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <form class="field" action="/apps<% if (category) { %>/category/<%= category %><% } %>">
            <p class="control">
              <span class="select">
                <select name="sort" onchange="this.form.submit()">
                  <option value="installCount" <% if (sort === 'installCount') { %>selected="selected"<% } %>>Most Downloaded</option>
                  <option value="name" <% if (sort === 'name') { %>selected="selected"<% } %>>Name</option>
                  <option value="createdAt" <% if (sort === 'createdAt') { %>selected="selected"<% } %>>Recently Added</option>
                </select>
              </span>
            </p>
          </form>
        </div>
      </div>
    </nav>
    <hr>
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            <li><a <% if (!category) { %>class="is-active"<% } %> href="/apps<% if (sort) { %>?sort=<%= sort %><% } %>">All</a></li>
          </ul>
          <p class="menu-label">
            Categories
          </p>
          <ul class="menu-list">
            <% categories.forEach(function (c) { %>
            <li><a class="category<% if (c === category) { %> is-active<% } %>" href="/apps/category/<%= c %><% if (sort) { %>&sort=<%= sort %><% } %>"><%= c.replace('+', ' & ') %></a></li>
            <% }) %>
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="columns is-multiline">
          <% var appCardClassName = "is-half-tablet is-one-third-desktop" %>
          <% apps.forEach(function (app) { %>
          <% include ../partials/app-card %>
          <% }) %>
        </div>
        <nav class="pagination is-centered">
          <% if (currentPage > 1) { %>
          <a class="pagination-previous" href="/apps/category/<% if (category) { %>/<%= category %><% } %>?page=<%= currentPage - 1 %><% if (sort) { %>&sort=<%= sort %><% } %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPage) { %>
          <a class="pagination-next" href="/apps<% if (category) { %>/category/<%= category %><% } %>?page=<%= currentPage + 1 %><% if (sort) { %>&sort=<%= sort %><% } %>">Next</a>
          <% } %>
          <ul class="pagination-list">
            <% pages.forEach((page) => { %>
            <% if (page > 0) { %>
            <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/apps<% if (category) { %>/category/<%= category %><% } %>?page=<%= page %><% if (sort) { %>&sort=<%= sort %><% } %>"><%= page %></a></li>
            <% } else { %>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
