<% include ../partials/header %>

<section class="section apps">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title ">
            <a href="/apps">WebCatalog Store</a>
          </h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <form class="field is-pulled-right" action="/apps/search">
            <p class="control">
              <input class="input" type="text" placeholder="Search..." name="query">
            </p>
          </form>
        </div>
      </div>
    </nav>
    <hr>
    <% if (apps) { %>
    <h1 class="title is-3 has-text-centered">Results for <b><%= searchQuery %></b></h1>
    <div class="columns">
      <div class="column">
        <div class="columns is-multiline">
          <% apps.forEach(function (app) { %>
          <div class="column is-one-third-tablet is-one-quarter-desktop">
            <div class="card app">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <a href="/apps/<%= app.slug %>/id<%= app.id %>">
                      <figure class="image is-64x64 app-icon">
                        <picture>
                          <source srcset="/s3/<%= app.id %>@128px.webp" type="image/webp">
                          <source srcset="/s3/<%= app.id %>@128px.png" type="image/jpeg">
                          <img src="/s3/<%= app.id %>@128px.png" alt="<%= app.name %> on the WebCatalog Store">
                        </picture>
                      </figure>
                    </a>
                    <p class="title is-5 has-text-centered"><a href="/apps/<%= app.slug %>/id<%= app.id %>"><%= app.name %></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <nav class="pagination is-centered">
          <% if (currentPage > 1) { %>
          <a class="pagination-previous" href="/apps/search?query=<%= searchQuery %>&page=<%= currentPage - 1 %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPage) { %>
          <a class="pagination-next" href="/apps/search?query=<%= searchQuery %>&page=<%= currentPage + 1 %>">Next</a>
          <% } %>
          <ul class="pagination-list">
            <% pages.forEach((page) => { %>
            <% if (page > 0) { %>
            <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/apps/search?query=<%= searchQuery %>&page=<%= page %>"><%= page %></a></li>
            <% } else { %>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
    <% } %>
  </div>
</section>

<% include ../partials/footer %>
