<% include ../partials/header %>
<% include ../partials/search %>

<section class="section apps">
  <div class="container">
    <% if (apps) { %>
    <h1 class="title is-3 has-text-centered">Results for <b><%= searchQuery %></b></h1>
    <div class="columns">
      <div class="column">
        <div class="columns is-multiline">
          <% var appCardClassName = "is-half-tablet is-one-quarter-desktop" %>
          <% apps.forEach(function (app) { %>
          <% include ../partials/app-card %>
          <% }) %>
        </div>
        <nav class="pagination is-centered">
          <% if (currentPage > 1) { %>
          <a class="pagination-previous" href="/apps/search?query=<%= searchQuery %>&page=<%= currentPage - 1 %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPage) { %>
          <a class="pagination-next" href="/apps/search?query=<%= searchQuery %>&page=<%= currentPage + 1 %>">Next</a>
          <% } %>
          <ul class="pagination-list">
            <% pages.forEach((page) => { %>
            <% if (page > 0) { %>
            <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/apps/search?query=<%= searchQuery %>&page=<%= page %>"><%= page %></a></li>
            <% } else { %>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
    <% } %>
  </div>
</section>

<% include ../partials/footer %>
