<% include ../partials/header %>
<% include ../partials/search %>

<section class="section app">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="content">
          <div class="has-text-centered">
            <p><a class="category" href="/directory/search?q=<%= app.category %>"><%= app.category %></a></p>
            <a href="https://icons.webcatalog.io/<%= app.id %>/<%= app.id %>-icon.png">
              <figure class="image is-128x128 app-icon">
                <picture>
                  <img src="https://icons.webcatalog.io/<%= app.id %>/<%= app.id %>-icon.png" alt="<%= app.name %>">
                </picture>
              </figure>
            </a>
            <h1 class="title"><%= app.name %></h1>
            <h2 class="subtitle is-6"><a href="<%= app.url %>" target="_blank" rel="noopener noreferrer"><%= extractDomain(app.url) %></a></h2>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h2>How to Install <%= app.name %> on Your <%= platform === 'mac' ? 'Mac' : platform === 'linux' ? 'Linux Machine' : 'PC' %></h2>

          <ol>
            <li><a href="/download" target="_blank">Download WebCatalog installation file.</a></li>
            <% if (platform === 'windows') { %>
            <li>If prompted, click <b>Run</b> or <b>Save</b>.</li>
            <li>If you chose <b>Save</b>, double-click the download to start installing.</li>
            <li>Start <b>WebCatalog</b> from your desktop.</li>
            <% } %>
            <% if (platform === 'mac') { %>
            <li>Open the file called <b>WebCatalog-<%= version %>.dmg</b>.</li>
            <li>In the window that opens, find <b>WebCatalog</b> icon.</li>
            <li>Drag <b>WebCatalog</b> to the <b>Applications</b> folder.</li>
            <li>Start <b>WebCatalog</b> from your Launchpad.</li>
            <% } %>
            <% if (platform === 'linux') { %>
            <li>To open the package, click <b>OK</b>.</li>
            <li>Click <b>Install Package.</b></li>
            <li>Start <b>WebCatalog</b>.</li>
            <% } %>
            <li>Type <b><%= app.name %></b> in the search box to look for the app.</li>
            <li>Locate <b><%= app.name %></b> in the search results.</li>
            <li>Click <b>Install</b>.</li>
            <li>Click <b>Open</b> to start <b><%= app.name %></b>.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
