<% include ../partials/header %>
<% include ../partials/search %>

<section class="section apps">
  <div class="container">
    <% if (searchQuery) { %>
      <h1 class="title"><%= searchQuery %></h1>
      <hr />
    <% } %>
    <% if (apps) { %>
    <% if (apps.length > 0) { %>
    <div class="columns">
      <div class="column">
        <div class="columns is-multiline">
          <% var appCardClassName = "is-half-tablet is-one-quarter-desktop" %>
          <% apps.forEach(function (app) { %>
          <% include ../partials/app-card %>
          <% }) %>
        </div>
        <nav class="pagination is-centered">
          <% if (currentPage > 1) { %>
          <a class="pagination-previous" href="/directory/search?query=<%= searchQuery %>&page=<%= currentPage - 1 %>">Previous</a>
          <% } %>
          <% if (currentPage < totalPage) { %>
          <a class="pagination-next" href="/directory/search?query=<%= searchQuery %>&page=<%= currentPage + 1 %>">Next</a>
          <% } %>
          <ul class="pagination-list">
            <% pages.forEach((page) => { %>
            <% if (page > 0) { %>
            <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/directory/search?query=<%= searchQuery %>&page=<%= page %>"><%= page %></a></li>
            <% } else { %>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
    <% } else { %>
    <div class="has-text-centered">
      <p class="title is-4">No Results</p>
      <p class="subtitle is-4">Try a synonym, a domain or more general keyword.</p>
    </div>
    <% } %>
    <hr />
    <p class="has-text-centered">
      <a href="https://www.algolia.com" target="_blank" rel="noopener noreferrer">
        <img src="/public/images/search-by-algolia.png" alt="Search by Algolia" height="18" width="130">
      </a>
    </p>
    <% } %>
  </div>
</section>

<% include ../partials/footer %>
