<% include ./partials/header %>

<section class="hero is-info">
  <div class="hero-body intro intro-<%= platform %>">
    <div class="container has-text-centered">
      <h1 class="title">Get WebCatalog for <% if (platform === "mac") { %>Mac<% } else if (platform === "linux") { %>Linux<% } else { %>Windows<% } %>
      </h1>
      <p class="subtitle" style="margin-top: -1em">
        Explore thousands of exclusive apps,<br>get desktop notifications, and launch right from your <%= dockName %>.
      </p>

      <% if (platform === "mac") { %>
      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.dmg" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-apple"></i>
          <span>&nbsp;Download for macOS</span>
        </a>
      </p>
      <% } else if (platform === "linux") { %>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog_<%= version %>_amd64.deb" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .deb (For Ubuntu)</span>
        </a>
      </p>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.rpm" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .rpm (For Fedora)</span>
        </a>
      </p>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.pacman" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .pacman (For Arch)</span>
        </a>
      </p>
      <% } else { %>
      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-Setup-<%= version %>.exe" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-windows"></i>
          <span>&nbsp;Download for Windows</span>
        </a>
      </p>
      <% } %>

      <p>
          <% if (platform === "mac") { %>
            macOS 10.9+.
          <% } else if (platform === "linux") { %>
          <% } else { %>
            Windows 7+ (64-bit).
          <% } %>
         Version <%= version %> - <a href="/release-notes">What's new</a>.
      </p>

      <p class="subtitle other-platforms">
        <% if (platform === "mac") { %>
          Looking for the <a href="/download/windows">Windows</a> or <a href="/download/linux">Linux</a> desktop apps?
        <% } else if (platform === "linux") { %>
          Looking for the <a href="/download/windows">Windows</a> or <a href="/download/mac">Mac</a> desktop apps?
        <% } else { %>
          Looking for the <a href="/download/mac">Mac</a> or <a href="/download/linux">Linux</a> desktop apps?
        <% } %>
      </p>
    </div>
  </div>
</section>

<section class="section hero is-dark features">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title">Why WebCatalog?</h1>

      <div class="columns is-multiline is-desktop">
        <div class="column is-one-third-desktop">
          <span class="icon is-large">
            <i class="fa fa-bell"></i>
          </span>
          <p class="title is-4">Notifications</p>
          <p class="subtitle is-6">
            Stay up-to-date with desktop notifications.
          </p>
        </div>
        <div class="column is-one-third-desktop">
          <span class="icon is-large">
            <i class="fa fa-line-chart"></i>
          </span>
          <p class="title is-4">Productivity</p>
          <p class="subtitle is-6">
            Launch from your <%= dockName %>. <% if (platform === "windows") { %>Alt+Tab. Snap Assist<% } else { %>Freely configure the windows<% } %>.
          </p>
        </div>
        <div class="column is-one-third-desktop">
          <span class="icon is-large">
            <i class="fa fa-user-secret"></i>
          </span>
          <p class="title is-4">Privacy</p>
          <p class="subtitle is-6">
            Each app runs within an isolated container.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>
