<% include ./partials/header %>

<section class="hero is-primary intro">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-3">
        Run Web Apps Like Real Apps
      </h1>
      <p class="subtitle is-5" style="margin-top: -1em">
        Get rid of clunky browser tabs. Protect yourself from cross-website trackers.
      </p>

      <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.dmg" target="_blank" rel="noopener noreferrer">
        <span class="icon is-medium">
          <i class="fa fa-apple"></i>
        </span>
        <span>&nbsp;Download for macOS</span>
      </a>
      <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-Setup-<%= version %>.exe" target="_blank" rel="noopener noreferrer">
        <span class="icon is-medium">
          <i class="fa fa-windows"></i>
        </span>
        <span>&nbsp;Download for Windows</span>
      </a>
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button is-medium is-black download-button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-medium">
              <i class="fa fa-linux"></i>
            </span>
            <span>&nbsp;Download for Linux</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog_<%= version %>_amd64.deb" class="dropdown-item" target="_blank" rel="noopener noreferrer">
              64 bit .deb (for Debian/Ubuntu)
            </a>
            <a href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.x86_64.rpm" class="dropdown-item" target="_blank" rel="noopener noreferrer">
              64 bit .rpm (for Fedora/openSUSE)
            </a>
            <a href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.pacman" class="dropdown-item" target="_blank" rel="noopener noreferrer">
              64 bit .pacman (for Arch Linux)
            </a>
          </div>
        </div>
      </div>

      <p>macOS 10.9+ | Windows 7+ (64 bit)</p>

      <p style="margin-top: 12px">
         Version <%= version %>
         | <a href="https://github.com/webcatalog/webcatalog/blob/master/RELEASE_NOTES.md" target="_blank" rel="noopener noreferrer">What's New</a>
         | <a href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer">Source Code</a>
      </p>

      <img src="/public/images/screenshot.png" alt="WebCatalog for macOS" class="screenshot" />
    </div>
  </div>
</section>

<% include ./partials/footer %>
