<% include ./partials/header %>

<section class="hero is-info">
  <div class="hero-body intro intro-<%= platform %>">
    <div class="container has-text-centered">
      <h1 class="title">Get WebCatalog for <% if (platform === "mac") { %>Mac<% } else if (platform === "linux") { %>Linux<% } else { %>Windows<% } %>
      </h1>
      <p class="subtitle" style="margin-top: -1em">
        Explore thousands of exclusive apps,<br>get desktop notifications, and launch right from your <%= dockName %>.
      </p>

      <% if (platform === "mac") { %>
      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.dmg" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-apple"></i>
          <span>&nbsp;Download for macOS</span>
        </a>
      </p>
      <% } else if (platform === "linux") { %>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog_<%= version %>_amd64.deb" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .deb (For Ubuntu)</span>
        </a>
      </p>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.rpm" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .rpm (For Fedora)</span>
        </a>
      </p>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.pacman" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .pacman (For Arch)</span>
        </a>
      </p>
      <% } else { %>
      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-Setup-<%= version %>.exe" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-windows"></i>
          <span>&nbsp;Download for Windows</span>
        </a>
      </p>
      <% } %>

      <p>
          <% if (platform === "mac") { %>
            macOS 10.9+.
          <% } else if (platform === "linux") { %>
          <% } else { %>
            Windows 7+ (64-bit).
          <% } %>
         Version <%= version %> - <a href="/release-notes">What's new</a>.
      </p>

      <p class="subtitle other-platforms">
        <% if (platform === "mac") { %>
          Looking for the <a href="/download/windows">Windows</a> or <a href="/download/linux">Linux</a> desktop apps?
        <% } else if (platform === "linux") { %>
          Looking for the <a href="/download/windows">Windows</a> or <a href="/download/mac">Mac</a> desktop apps?
        <% } else { %>
          Looking for the <a href="/download/mac">Mac</a> or <a href="/download/linux">Linux</a> desktop apps?
        <% } %>
      </p>
    </div>
  </div>
</section>

<section class="section hero is-dark features">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title">Why WebCatalog?</h1>

      <div class="columns is-multiline is-desktop">
        <div class="column is-one-third-desktop">
          <span class="icon is-large">
            <i class="fa fa-bell"></i>
          </span>
          <p class="title is-4">Notifications</p>
          <p class="subtitle is-6">
            Stay up-to-date with desktop notifications.
          </p>
        </div>
        <div class="column is-one-third-desktop">
          <span class="icon is-large">
            <i class="fa fa-line-chart"></i>
          </span>
          <p class="title is-4">Productivity</p>
          <p class="subtitle is-6">
            Launch from your <%= dockName %>. <% if (platform === "windows") { %>Alt+Tab. Snap Assist<% } else { %>Freely configure the windows<% } %>.
          </p>
        </div>
        <div class="column is-one-third-desktop">
          <span class="icon is-large">
            <i class="fa fa-user-secret"></i>
          </span>
          <p class="title is-4">Privacy</p>
          <p class="subtitle is-6">
            Each app runs within an isolated container.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section hero featured-apps">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title">The Apps You Love, On Your Mac & PC</h2>
      <div>
        <a href="/apps/details/facebook-messenger/621434c9-8f4d-4c06-83fa-9b3b99e3820b">
          <picture class="app-icon">
            <source srcset="/s3/621434c9-8f4d-4c06-83fa-9b3b99e3820b@128px.webp" type="image/webp">
            <source srcset="/s3/621434c9-8f4d-4c06-83fa-9b3b99e3820b@128px.png" type="image/jpeg">
            <img src="/s3/621434c9-8f4d-4c06-83fa-9b3b99e3820b@128px.png" alt="Facebook Messenger on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/google-play-music/1eceee7d-fb6c-49ff-ac65-d698842f7135">
          <picture class="app-icon">
            <source srcset="/s3/1eceee7d-fb6c-49ff-ac65-d698842f7135@128px.webp" type="image/webp">
            <source srcset="/s3/1eceee7d-fb6c-49ff-ac65-d698842f7135@128px.png" type="image/jpeg">
            <img src="/s3/1eceee7d-fb6c-49ff-ac65-d698842f7135@128px.png" alt="Google Play Music on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/netflix/0bbee208-4381-4f7b-90fa-ad752d23a4da">
          <picture class="app-icon">
            <source srcset="/s3/0bbee208-4381-4f7b-90fa-ad752d23a4da@128px.webp" type="image/webp">
            <source srcset="/s3/0bbee208-4381-4f7b-90fa-ad752d23a4da@128px.png" type="image/jpeg">
            <img src="/s3/0bbee208-4381-4f7b-90fa-ad752d23a4da@128px.png" alt="Netflix on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/trello/43c2935a-77d9-4e9d-88cd-c603f7bce926">
          <picture class="app-icon">
            <source srcset="/s3/43c2935a-77d9-4e9d-88cd-c603f7bce926@128px.webp" type="image/webp">
            <source srcset="/s3/43c2935a-77d9-4e9d-88cd-c603f7bce926@128px.png" type="image/jpeg">
            <img src="/s3/43c2935a-77d9-4e9d-88cd-c603f7bce926@128px.png" alt="Trello on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/instagram/f2374bfb-ddc8-4d54-82c8-e3e235528626">
          <picture class="app-icon">
            <source srcset="/s3/f2374bfb-ddc8-4d54-82c8-e3e235528626@128px.webp" type="image/webp">
            <source srcset="/s3/f2374bfb-ddc8-4d54-82c8-e3e235528626@128px.png" type="image/jpeg">
            <img src="/s3/f2374bfb-ddc8-4d54-82c8-e3e235528626@128px.png" alt="Instagram on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/google-inbox/a2c752cf-ea98-4434-88ea-c23b0cdec645">
          <picture class="app-icon">
            <source srcset="/s3/a2c752cf-ea98-4434-88ea-c23b0cdec645@128px.webp" type="image/webp">
            <source srcset="/s3/a2c752cf-ea98-4434-88ea-c23b0cdec645@128px.png" type="image/jpeg">
            <img src="/s3/a2c752cf-ea98-4434-88ea-c23b0cdec645@128px.png" alt="Google Inbox on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/asana/867609d2-6037-441f-a425-79a7032da1fa">
          <picture class="app-icon">
            <source srcset="/s3/867609d2-6037-441f-a425-79a7032da1fa@128px.webp" type="image/webp">
            <source srcset="/s3/867609d2-6037-441f-a425-79a7032da1fa@128px.png" type="image/jpeg">
            <img src="/s3/867609d2-6037-441f-a425-79a7032da1fa@128px.png" alt="Asana on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/whatsapp/69b548b4-1128-4783-b727-453a9358c210">
          <picture class="app-icon">
            <source srcset="/s3/69b548b4-1128-4783-b727-453a9358c210@128px.webp" type="image/webp">
            <source srcset="/s3/69b548b4-1128-4783-b727-453a9358c210@128px.png" type="image/jpeg">
            <img src="/s3/69b548b4-1128-4783-b727-453a9358c210@128px.png" alt="WhatsApp on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/feedly/e72e14f4-d97f-4b5e-be0e-af7aa63cb1f5">
          <picture class="app-icon">
            <source srcset="/s3/e72e14f4-d97f-4b5e-be0e-af7aa63cb1f5@128px.webp" type="image/webp">
            <source srcset="/s3/e72e14f4-d97f-4b5e-be0e-af7aa63cb1f5@128px.png" type="image/jpeg">
            <img src="/s3/e72e14f4-d97f-4b5e-be0e-af7aa63cb1f5@128px.png" alt="Feedly on the WebCatalog Store">
          </picture>
        </a>
        <a href="/apps/details/intercom/c7b88878-7b4d-406e-9a9b-433bddb0b071">
          <picture class="app-icon">
            <source srcset="/s3/c7b88878-7b4d-406e-9a9b-433bddb0b071@128px.webp" type="image/webp">
            <source srcset="/s3/c7b88878-7b4d-406e-9a9b-433bddb0b071@128px.png" type="image/jpeg">
            <img src="/s3/c7b88878-7b4d-406e-9a9b-433bddb0b071@128px.png" alt="Intercom on the WebCatalog Store">
          </picture>
        </a>
      </div>
      <a href="/apps" class="button see-more">See more</a>
    </div>
  </div>
</section>

<section class="section hero is-dark download">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title">Try now! It's free.</h2>

      <% if (platform === "mac") { %>
      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.dmg" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-apple"></i>
          <span>&nbsp;Download for macOS</span>
        </a>
      </p>
      <% } else if (platform === "linux") { %>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog_<%= version %>_amd64.deb" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .deb (For Ubuntu)</span>
        </a>
      </p>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.rpm" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .rpm (For Fedora)</span>
        </a>
      </p>
      <p>
        <a class="button is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.pacman" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linux"></i>
          <span>&nbsp;Download 64 bit .pacman (For Arch)</span>
        </a>
      </p>
      <% } else { %>
      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-Setup-<%= version %>.exe" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-windows"></i>
          <span>&nbsp;Download for Windows</span>
        </a>
      </p>
      <% } %>

      <p>
        <% if (platform === "mac") { %>
          macOS 10.9+.
        <% } else if (platform === "linux") { %>
        <% } else { %>
          Windows 7+ (64-bit).
        <% } %>
      </p>
    </div>
  </div>
</section>

<% include ./partials/footer %>
