<% include ./partials/header %>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <img class="logo" src="/images/icon.128px@2x.png" />
      <h1 class="title">
        Get WebCatalog for Mac
      </h1>
      <p class="subtitle" style="margin-top: -1em">
        Explore thousands of exclusive apps,<br>get desktop notifications, and launch right from your dock.
      </p>

      <a class="button is-medium is-black" style="margin-top: 30px; margin-bottom: 6px" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.dmg" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-apple"></i>
        <span>&nbsp;Download for macOS</span>
      </a>
      <p>macOS 10.9 or higher.</p>

      <p class="subtitle" style="margin-top: 36px">Looking for the Windows or Linux desktop apps?</p>
    </div>
  </div>
</section>

<section class="section" style="border-top: 1px solid #dbdbdb">
  <div class="container">
    <div class="content has-text-centered">
      <h2 style="margin-bottom: 30px">Try now! It's free!</h2>
      <div class="columns is-desktop">
        <div class="column is-3 is-offset-3">
          <a class="button is-black" style="margin-bottom: 6px" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-<%= version %>.dmg" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-apple"></i>
            <span>&nbsp;Download for macOS</span>
          </a>
          <p>macOS 10.9 or higher.</p>
        </div>
        <div class="column is-3">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #0078D6" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= version %>/WebCatalog-Setup-<%= version %>.exe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Windows</span>
          </a>
          <p>Windows 7 64-bit or higher.</p>
        </div>
      </div>

      <p><a href="https://github.com/webcatalog/webcatalog/releases/tag/v<%= version %>" target="_blank" rel="noopener noreferrer" style="text-decoration: underline">Other downloads</a></p>
    </div>
  </div>
</section>

<% include ./partials/footer %>
