<section class="hero is-black intro">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-3">
        Privacy-Focused, Distraction-Free Browser
      </h1>
      <p class="subtitle is-5" style="margin-top: -1em">
        Automatic ad blocking and tracking protection on an easy-to-use private browser
      </p>

      <p>
        <a class="button is-medium download-button" href="https://github.com/secreton/secreton/releases/download/v<%= version %>/Secreton-<%= version %>-mac.zip" target="_blank" rel="noopener noreferrer">
          <span class="icon is-medium">
          <i class="fab fa-apple"></i>
          </span>
          <span>&nbsp;Download for macOS</span>
        </a>
      </p>

      <p style="margin-top: 12px">
         Version <%= version %> | <a href="https://github.com/secreton/secreton/blob/master/RELEASE_NOTES.md" target="_blank" rel="noopener noreferrer">What's New</a>
         | <a href="https://github.com/secreton/secreton" target="_blank" rel="noopener noreferrer">Source Code</a>
      </p>

      <img src="/images/screenshot.png" alt="Secreton on macOS" class="screenshot" />
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Inspired from <a href="https://www.mozilla.org/en-US/firefox/mobile/" target="_blank" rel="noopener noreferrer">Firefox Focus</a></h1>
    <h3 class="subtitle">
      The same experience you love on Android & iOS.
    </h3>
    <br />

    <h2 class="title">Distraction Free</h1>
    <h3 class="subtitle">
      No Tab! Multi-tasking Destroys Your Productivity. Using Multiple Web Apps At Once? Try <a href="https://webcatalog.io" target="_blank" rel="noopener noreferrer">WebCatalog</a>.
    </h3>
    <br />

    <h2 class="title">Automatic Ad Blocking & Tracking Protection</h1>
    <h3 class="subtitle">
       Automatically blocks ads that have sneaky hidden trackers that collect data.
    </h3>
    <br />

    <h2 class="title">Always Private</h1>
    <h3 class="subtitle">
       Your browsing history is wiped after every session. Erase your cookies and browsing history with one tap.
    </h3>
    <br />

    <h2 class="title">Open Source</h1>
    <h3 class="subtitle">
      Free, non-commercial, ad-free, and <a href="https://github.com/secreton" target="_blank" rel="noopener noreferrer" alt="GitHub">open source</a>.
    </h3>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-3">
        Give Secreton a try today!
      </p>

      <p>
        <a class="button is-medium is-black download-button" href="https://github.com/secreton/secreton/releases/download/v<%= version %>/Secreton-<%= version %>-mac.zip" target="_blank" rel="noopener noreferrer">
          <span class="icon is-medium">
          <i class="fab fa-apple"></i>
          </span>
          <span>&nbsp;Download for macOS</span>
        </a>
      </p>
    </div>
  </div>
</section>

<hr />

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-3">Apps from <a href="https://quang.im" target="_blank" rel="noopener noreferrer">Quang Lam</a></p>
      <div class="columns">
        <div class="column">
          <a href="https://secretonapp.com" target="_blank" rel="noopener noreferrer">
            <img src="https://avatars3.githubusercontent.com/u/34365475?s=200&v=4" alt="Secreton" class="icon-72">
          </a>
          <p class="title is-4"><a href="https://secretonapp.com" target="_blank" rel="noopener noreferrer">Secreton</a></p>
          <p class="subtitle is-6">Privacy-Focused, Distraction-Free Browser</p>
        </div>
        <div class="column">
          <a href="https://webcatalog.io" target="_blank" rel="noopener noreferrer">
            <img src="https://avatars3.githubusercontent.com/u/24597013?s=200&v=4" alt="WebCatalog" class="icon-72">
          </a>
          <p class="title is-4"><a href="https://webcatalog.io" target="_blank" rel="noopener noreferrer">WebCatalog</a></p>
          <p class="subtitle is-6">Run Web Apps like Real Apps</p>
        </div>
        <div class="column">
          <a href="https://translatiumapp.com" target="_blank" rel="noopener noreferrer">
            <img src="https://avatars2.githubusercontent.com/u/24859882?s=200&v=4" alt="Translatium" class="icon-72">
          </a>
          <p class="title is-4"><a href="https://translatiumapp.com" target="_blank" rel="noopener noreferrer">Translatium</a></p>
          <p class="subtitle is-6">Translate like a Pro</p>
        </div>
      </div>
    </div>
  </div>
</section>
