<div class="column <%= appCardClassName %>">
  <a href="/apps/details/<%= app.slug %>/<%= app.id %>">
    <div class="card app">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <figure class="image is-64x64 app-icon">
              <picture>
                <source srcset="https://s3.getwebcatalog.com/<%= app.id %>@128px.webp" type="image/webp">
                <source srcset="https://s3.getwebcatalog.com/<%= app.id %>@128px.png" type="image/jpeg">
                <img src="https://s3.getwebcatalog.com/<%= app.id %>@128px.png" alt="<%= app.name %> on the WebCatalog Store">
              </picture>
            </figure>
            <p class="title is-5 has-text-centered"><%= app.name %></p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
