<!DOCTYPE html>
<html>
<head>
  <title><%= locals.title ? title + ' | ' : '' %>WebCatalog - An Alternative App Store for your Mac and PC.</title>
  <link rel="canonical" href="https://getwebcatalog.com<%= path %>">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= description %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= locals.title ? title + ' | ' : '' %>WebCatalog - An Alternative App Store for your Mac and PC.">
  <meta name="twitter:description" content="<%= description %>">
  <% if (locals.app) { %><meta name="twitter:image" content="https://getwebcatalog.com/s3/<%= app.id %>.png" /><% } %>
  <meta property="og:site_name" content="WebCatalog">
  <meta property="og:title" content="<%= locals.title ? title + ' | ' : '' %>WebCatalog - An Alternative App Store for your Mac and PC.">
  <meta property="og:type" content="article">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://getwebcatalog.com<%= path %>">
  <% if (locals.app) { %><meta property="og:image" content="https://getwebcatalog.com/s3/<%= app.id %>.png"><% } %>
  <link rel="shortcut icon" href="/public/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/app.css">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3770617531645838",
      enable_page_level_ads: false
    });
  </script>
</head>
<body>
