<!DOCTYPE html>
<html>
<head>
  <title><%= locals.token ? token : locals.title ? title + ' | WebCatalog' : 'WebCatalog' %></title>
  <link rel="canonical" href="https://getwebcatalog.com<%= path %>">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= description %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= locals.title ? title + ' | ' : '' %>WebCatalog - An Alternative App Store for your Mac and PC.">
  <meta name="twitter:description" content="<%= description %>">
  <% if (locals.app) { %><meta name="twitter:image" content="https://getwebcatalog.com/s3/<%= app.id %>.png" /><% } %>
  <meta property="og:site_name" content="WebCatalog">
  <meta property="og:title" content="<%= locals.title ? title + ' | ' : '' %>WebCatalog - An Alternative App Store for your Mac and PC.">
  <meta property="og:type" content="article">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://getwebcatalog.com<%= path %>">
  <% if (locals.app) { %><meta property="og:image" content="https://getwebcatalog.com/s3/<%= app.id %>.png"><% } %>
  <link rel="shortcut icon" href="/public/images/favicon.png" type="image/png">
  <link rel="apple-touch-icon" sizes="57x57" href="/public/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/app.css?v=<%= sourceVersion %>">
</head>
<body>
