<% include ../partials/header %>

<section class="section">
  <div class="container">
    <h1 class="title">Edit <%= app.name %></h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Name</label>
        <p class="control">
          <input class="input" type="text" placeholder="Name" name="name" value="<%= app.name %>" required>
        </p>
      </div>
      <div class="field">
        <label class="label">URL</label>
        <p class="control">
          <input class="input" type="text" placeholder="URL" name="url" value="<%= app.url %>" required>
        </p>
      </div>
      <div class="field">
        <label class="label">Icon</label>
        <p class="control">
          <input class="input" type="file" placeholder="Icon" name="icon" accept=".png">
        </p>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <p class="control">
          <span class="select">
            <select name="category" required>
              <% categories.forEach(function (category) { %>
              <option value="<%= category %>"<% if (category === app.category) { %> selected="selected"<% } %>><%= category %></option>
              <% }) %>
            </select>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Wikipedia Title</label>
        <p class="control">
          <input class="input" type="text" placeholder="Wikipedia Title" name="wikipediaTitle" value="<%= app.wikipediaTitle %>">
        </p>
        <p class="help">Leave it blank if Wikipedia title is similar to name.</p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </p>
      </div>
    </form>
</section>

<% include ../partials/footer %>
