<% include ../partials/header %>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        AdminCP
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <a class="button is-large is-success" href="/admin/apps/add">
        <span class="icon is-medium">
          <i class="fa fa-plus"></i>
        </span>
        <span>Add New App</span>
      </a>

      <a class="button is-large" href="/admin/update-algolia-data">
        <span class="icon is-medium">
          <i class="fa fa-refresh"></i>
        </span>
        <span>Update Algolia Data</span>
      </a>

      <hr />

      <h3>Submissions</h3>

      <ul>
        <li>When you select <b>"Add"</b> or <b>"Reject"</b> button, the system will automatically notify the submitter and remove the app from the list.</li>
        <li>If an app is already available, select <b>"Notify as Already Avaialble"</b>.</li>
        <li>If you only want to remove a submission from the list without doing anything, select <b>"Set as Neutral"</b>.</li>
        <li>If you add a duplicated or unwanted app, you won't be able to delete it. Instead, find the app, and then edit it to another app.</li>
        <li>If you need any help, contact <b><a href="mailto:quang@webcatalog.io">quang@webcatalog.io</a>.</li>
      </ul>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>URL</th>
            <th>Submitter</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>URL</th>
            <th>Submitter</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <% drafts.forEach(function (draft, i) { %>
          <tr>
            <th><%= i + 1 %></th>
            <th><%= draft.name %></th>
            <td><a href="<%= draft.url %>" target="_blank" rel="noopener noreferrer"><%= draft.url %></a></td>
            <td><a href="maitlo:<%= draft.user.email %>"><%= draft.user.email %></a></td>
            <td><%= draft.createdAt %></td>
            <td>
              <a class="button is-small is-success" href="/admin/apps/add?draftId=<%= draft.id %>">
                <span class="icon is-small">
                  <i class="fa fa-plus"></i>
                </span>
                <span>Add</span>
              </a>
              <a class="button is-small is-danger" href="/admin/drafts/set-status?id=<%= draft.id %>&status=rejected">
                <span class="icon is-small">
                  <i class="fa fa-ban"></i>
                </span>
                <span>Reject</span>
              </a>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu<%= i %>">
                    <span class="icon is-small">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu<%= i %>" role="menu">
                  <div class="dropdown-content">
                    <a href="/admin/drafts/set-status?id=<%= draft.id %>&status=already_added" class="dropdown-item">
                      Notify as Already Available
                    </a>
                    <a href="/admin/drafts/set-status?id=<%= draft.id %>&status=neutral" class="dropdown-item">
                      Set as Neutral
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<% include ../partials/footer %>
