<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= locals.title ? title + ' - ' : '' %>WebCatalog for macOS, Windows & Linux - Run your favorite web apps natively.</title>
    <meta name="description" content="WebCatalog is a desktop app which allows you to easily install your favorites web apps and run them natively on your Mac, PC & Linux.">
    <meta name="keywords" content="fluid, nativefier, webcatalog, electron, chrome, chromium, notification, native, single site browser, mac, pc, linux, macos, windows 10, ubuntu">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-head">
        <div class="container">
          <nav class="nav">
            <div class="nav-left">
              <a class="nav-item" href="/">
                <img src="/images/icon-no-bg@2x.png" alt="WebCatalog - Run your favorite web apps natively.">
                <span>WebCatalog</span>
              </a>
            </div>
            <span id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div id="nav-menu" class="nav-right nav-menu">
              <a class="nav-item<%- current.source == 'index' ? ' is-active' : '' %>" href="/">Home</a>
              <a class="nav-item<%- current.source == 'release-notes' ? ' is-active' : '' %>" href="/release-notes">Release Notes</a>
              <a class="nav-item<%- current.source == 'support' ? ' is-active' : '' %>" href="/support">Support</a>
              <a class="nav-item" href="https://www.dropbox.com/sh/uua0m1m57xkdkqx/AAAhzAfaSC32ztOR4th6l4WPa?dl=0" target="_blank" rel="noopener noreferrer">Presskit</a>
              <a class="nav-item" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=JZ2Y4F47ZMGHE&lc=US&item_name=WebCatalog&item_number=webcatalog&currency_code=USD" target="_blank" rel="noopener noreferrer">&hearts;&nbsp;Donate</a>
              <a class="nav-item" href="https://github.com/webcatalog/desktop" target="_blank" rel="noopener noreferrer">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </a>
              <div class="nav-item">
                <a class="github-button" href="https://github.com/webcatalog/desktop" data-icon="octicon-star" data-count-href="/webcatalog/desktop/stargazers" data-count-api="/repos/webcatalog/desktop#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star webcatalog/desktop on GitHub">Star</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <%- yield %>
    <section id="newsletter" class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <div id="mc_embed_signup" class="columns is-vcentered">
            <div class="column is-one-third is-left">
              <p class="title">WebCatalog <strong>Newsletter</strong></p>
              <p class="subtitle">Get notified about new features!</p>
            </div>

            <div class="column">
              <form action="https://getwebcatalog.us12.list-manage.com/subscribe/post?u=fd8f4ae47cc6394f5a3b0dbb5&amp;id=5701b80e55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
                <div id="mc_embed_signup_scroll">
                  <div class="field is-grouped">
                    <div class="control has-icon is-expanded">
                      <input type="email" value="" name="EMAIL" class="input is-flat required email" id="mce-EMAIL" placeholder="email address" required="" aria-required="true">
                      <span class="icon is-small">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                    <div class="control">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-white is-outlined">
                    </div>
                  </div>
                  <div id="mce-responses">
                    <div class="notification is-danger response" id="mce-error-response" style="display:none"></div>
                    <div class="notification is-success response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px" aria-hidden="true">
                    <input type="text" name="b_b43b93fe633f0560b2a72a69c_52585e8803" tabindex="-1" value="">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <a href="/">Home</a> |
            <a href="/release-notes">Release Notes</a> |
            <a href="/support">Support</a> |
            <a href="https://www.dropbox.com/sh/uua0m1m57xkdkqx/AAAhzAfaSC32ztOR4th6l4WPa?dl=0" target="_blank" rel="noopener noreferrer">Presskit</a> |
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=JZ2Y4F47ZMGHE&lc=US&item_name=WebCatalog&item_number=webcatalog&currency_code=USD" target="_blank" rel="noopener noreferrer">Donate</a> |
            <a href="https://github.com/webcatalog/desktop" target="_blank" rel="noopener noreferrer">GitHub</a>
          </p>
          <p>
            © 2016 - 2017 WebCatalog.
          </p>
          <p>
            Made with <span style="color: #F44336">&hearts;</span> by <a href="https://quanglam.me/">Quang Lam</a>.
          </p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" async defer src="https://buttons.github.io/buttons.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/cferdinandi/smooth-scroll/e39e0690/dist/js/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85519087-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
