<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-4" style="padding-top: 30px;">
          <img class="logo" src="/images/icon.128px@2x.png" />
          <p class="title">
            WebCatalog
          </p>
          <p class="subtitle">
            Run your favorite web apps natively.
          </p>
          <a class="button is-large is-black" style="margin-bottom: 6px;" href="https://github.com/webcatalog/desktop/releases/download/<%= webcatalogVersion %>/WebCatalog-<%= webcatalogVersion %>.dmg" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-apple"></i>
            <span>&nbsp;Download for macOS</span>
          </a>
          <p>Version <%= webcatalogVersion %>. macOS 10.8+. </p>

          <p class="title is-4" style="margin-top: 30px">
            <a href="#features">
              learn more <i class="fa fa-angle-down"></i>
            </a>
          </p>
        </div>
        <div class="column" style="padding: 0;">
          <figure class="image is-screenshot">
            <img src="/images/screenshot_1.png" alt="Modern Translator on macOS">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-dark" id="features">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-3">Why should you install apps from WebCatalog?</h3>
      <div class="columns">
        <div class="column">
          <figure class="image is-screenshot" style="padding-top: 0;">
            <img src="/images/screenshot_2.png" alt="Modern Translator on macOS">
          </figure>
          <p>Facebook Messenger, installed from WebCatalog.</p>
        </div>
        <div class="column is-4" style="padding-top: 42px;">
          <p class="title is-5">Open from Launchpad or Spotlight</p>
          <p class="title is-5">Stay on Dock</p>
          <p class="title is-5">Native Notification</p>
          <p class="title is-5">Split View</p>
          <p class="title is-5">Chromium</p>
          <p class="title is-5">-</p>
          <p class="title is-5">Distraction Free</p>
          <p class="title is-5">Lightweight</p>
          <p class="title is-5">Free</p>
          <p class="title is-5">Open Sourced</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <h2>Comparison</h2>
      <table class="table is-striped">
        <thead>
          <tr>
            <th></th>
            <th><a href="/">WebCatalog</a></th>
            <th><a href="http://fluidapp.com/" target="_blank" rel="noopener noreferrer">Fluid</a></th>
            <th><a href="https://github.com/jiahaog/nativefier" target="_blank" rel="noopener noreferrer">Nativefier</a></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th><a href="/">WebCatalog</a></th>
            <th><a href="http://fluidapp.com/" target="_blank" rel="noopener noreferrer">Fluid</a></th>
            <th><a href="https://github.com/jiahaog/nativefier" target="_blank" rel="noopener noreferrer">Nativefier</a></th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Graphical user interface</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
            <td>
              <i class="fa fa-check"></i> (advanced users)
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>Web engine</td>
            <td>
              Chromium
            </td>
            <td>
              Safari
            </td>
            <td>
              Chromium
            </td>
          </tr>
          <tr>
            <td>Always up to date</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
            <td>
              <i class="fa fa-check"></i> (Partial)
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>App size</td>
            <td>
              ~150kB
            </td>
            <td>
              ~8000kB
              (~60x heavier)
            </td>
            <td>
              ~110000kB
              (800x heavier)
            </td>
          </tr>
          <tr>
            <td>Open sourced</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
            <td>
            </td>
            <td>
              <i class="fa fa-check"></i>
            </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>
              Free
            </td>
            <td>
              Free / 5 USD
            </td>
            <td>
              Free
            </td>
          </tr>
          <tr>
            <td>Available on</td>
            <td>
              <i class="fa fa-apple"></i>
            </td>
            <td>
              <i class="fa fa-apple"></i>
            </td>
            <td>
              <i class="fa fa-apple"></i> <i class="fa fa-windows"></i> <i class="fa fa-linux"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="section" style="border-top: 1px solid #dbdbdb;">
  <div class="container">
    <div class="content has-text-centered">
      <h2>Try now! It's free!</h2>
      <a class="button is-large is-black" style="margin-bottom: 6px;" href="https://github.com/webcatalog/desktop/releases/download/<%= webcatalogVersion %>/WebCatalog-<%= webcatalogVersion %>.dmg" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-apple"></i>
        <span>&nbsp;Download for macOS</span>
      </a>
      <p>Version <%= webcatalogVersion %>. macOS 10.8+. </p>
    </div>
  </div>
</section>
