<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="logo" src="/images/icon.128px@2x.png" />
      <p class="title">
        WebCatalog <%= webcatalogVersion %>
      </p>
      <p class="subtitle">
        Run any web app natively.
      </p>

      <div class="columns is-desktop">
        <div class="column">
          <a class="button is-black" style="margin-bottom: 6px" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-<%= webcatalogVersion %>.dmg" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-apple"></i>
            <span>&nbsp;Download for macOS</span>
          </a>
          <p>macOS 10.9 or higher.</p>
        </div>
        <div class="column">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #0078D6" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-Setup-<%= webcatalogVersion %>.exe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Windows</span>
          </a>
          <p>Windows 7 64-bit or higher.</p>
        </div>
        <div class="column">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #77216f" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog_<%= webcatalogVersion %>_amd64.deb" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Linux</span>
          </a>
          <p>Debian-based Linux 64-bit.</p>
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column is-offset-2 is-8">
          <figure class="image is-screenshot">
            <img src="/images/screenshot_1.png" alt="Modern Translator on macOS">
          </figure>
        </div>
      </div>

      <p class="title is-4" style="margin-top: 30px">
        <a data-scroll href="#intro">
          learn more <i class="fa fa-angle-down"></i>
        </a>
      </p>
    </div>
  </div>
</section>

<section class="hero" id="intro">
  <div class="hero-body">
    <div class="container">
      <h3 class="title is-3 has-text-centered">What is WebCatalog?</h3>
      <p class="title is-5" style="line-height: 1.75">WebCatalog is an open source desktop app which allows you to install and run your favorite web apps <i>natively</i>. Similar to the app stores on your smartphones and tablets, you can just open WebCatalog, install an app you like and start using it immediately. Those apps will stay on your Dock or Taskbar, notify you when you receive a new message or a call and <a data-scroll href="#features">more</a>;  or in short, improve your productivity significantly.</p>
      <p class="title is-5" style="line-height: 1.75">It offers similar functionalities with <a href="http://fluidapp.com/" target="_blank" rel="noopener noreferrer">Fluid</a> and <a href="https://github.com/jiahaog/nativefier" target="_blank" rel="noopener noreferrer">Nativefier</a>, but it is better and easier to use. Don't trust me? Check the <a data-scroll href="#comparison">Comparison table.</a></p>
    </div>
  </div>
</section>

<section class="hero is-dark" id="features">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-3">Features</h3>
      <div class="columns">
        <div class="column">
          <figure class="image is-screenshot" style="padding-top: 0">
            <img src="/images/screenshot_2.png" alt="Modern Translator on macOS">
          </figure>
          <p>Facebook Messenger, installed from WebCatalog.</p>
        </div>
        <div class="column is-4" style="padding-top: 42px">
          <p class="title is-5">Open from Launchpad or Spotlight</p>
          <p class="title is-5">Open from Start Menu or Desktop</p>
          <p class="title is-5">Stay on Dock or Taskbar</p>
          <p class="title is-5">Native Notification</p>
          <p class="title is-5">Split View</p>
          <p class="title is-5">Chromium</p>
          <p class="title is-5">-</p>
          <p class="title is-5">Distraction Free</p>
          <p class="title is-5">Lightweight</p>
          <p class="title is-5">Free</p>
          <p class="title is-5">Open Source</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section" style="overflow-x: auto" id="comparison">
  <div class="container">
    <div class="content has-text-centered">
      <h2>Comparison</h2>
      <table class="table is-striped">
        <thead>
          <tr>
            <th></th>
            <th><a href="/">WebCatalog</a></th>
            <th><a href="http://fluidapp.com/" target="_blank" rel="noopener noreferrer">Fluid</a></th>
            <th><a href="https://github.com/jiahaog/nativefier" target="_blank" rel="noopener noreferrer">Nativefier</a></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th><a href="/">WebCatalog</a></th>
            <th><a href="http://fluidapp.com/" target="_blank" rel="noopener noreferrer">Fluid</a></th>
            <th><a href="https://github.com/jiahaog/nativefier" target="_blank" rel="noopener noreferrer">Nativefier</a></th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Graphical user interface</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
            <td>
              <i class="fa fa-check"></i> (advanced users)
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>Web engine</td>
            <td>
              Chromium
            </td>
            <td>
              Safari
            </td>
            <td>
              Chromium
            </td>
          </tr>
          <tr>
            <td>Always up to date</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
            <td>
              <i class="fa fa-check"></i> (Partial)
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>App size</td>
            <td>
              0.15 MB
            </td>
            <td>
              8 MB
              (~60x heavier)
            </td>
            <td>
              110 MB
              (800x heavier)
            </td>
          </tr>
          <tr>
            <td>Open source</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
            <td>
            </td>
            <td>
              <i class="fa fa-check"></i>
            </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>
              Free
            </td>
            <td>
              Free / 5 USD
            </td>
            <td>
              Free
            </td>
          </tr>
          <tr>
            <td>Available on</td>
            <td>
              <i class="fa fa-apple"></i> <i class="fa fa-windows"></i> <i class="fa fa-linux"></i>
            </td>
            <td>
              <i class="fa fa-apple"></i>
            </td>
            <td>
              <i class="fa fa-apple"></i> <i class="fa fa-windows"></i> <i class="fa fa-linux"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="section" style="border-top: 1px solid #dbdbdb">
  <div class="container">
    <div class="content has-text-centered">
      <h2 style="margin-bottom: 30px">Try now! It's free!</h2>
      <div class="columns is-desktop">
        <div class="column">
          <a class="button is-black" style="margin-bottom: 6px" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-<%= webcatalogVersion %>.dmg" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-apple"></i>
            <span>&nbsp;Download for macOS</span>
          </a>
          <p>macOS 10.9 or higher.</p>
        </div>
        <div class="column">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #0078D6" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-Setup-<%= webcatalogVersion %>.exe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Windows</span>
          </a>
          <p>Windows 7 64-bit or higher.</p>
        </div>
        <div class="column">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #77216f" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog_<%= webcatalogVersion %>_amd64.deb" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Linux</span>
          </a>
          <p>Debian-based Linux 64-bit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
