<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="logo" src="/images/icon.128px@2x.png" />
      <p class="title">
        WebCatalog <%= webcatalogVersion %>
      </p>
      <p class="subtitle">
        Run any web app natively.
      </p>

      <div class="columns is-desktop">
        <div class="column is-3 is-offset-3">
          <a class="button is-black" style="margin-bottom: 6px" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-<%= webcatalogVersion %>.dmg" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-apple"></i>
            <span>&nbsp;Download for macOS</span>
          </a>
          <p>macOS 10.9 or higher.</p>
        </div>
        <div class="column is-3">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #0078D6" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-Setup-<%= webcatalogVersion %>.exe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Windows</span>
          </a>
          <p>Windows 7 64-bit or higher.</p>
        </div>
      </div>

      <p><a href="https://github.com/webcatalog/webcatalog/releases/tag/v<%= webcatalogVersion %>" target="_blank" rel="noopener noreferrer" style="text-decoration: underline">Other downloads</a></p>

      <div class="columns is-desktop">
        <div class="column is-offset-2 is-8">
          <figure class="image is-screenshot">
            <img src="/images/screenshot_1.png" alt="WebCatalog on macOS">
          </figure>
        </div>
      </div>

      <p class="title is-4" style="margin-top: 30px">
        <a data-scroll href="#features">
          learn more <i class="fa fa-angle-down"></i>
        </a>
      </p>
    </div>
  </div>
</section>

<section class="section hero is-dark" id="features">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-3">Features</h3>
      <div class="columns">
        <div class="column">
          <figure class="image is-screenshot" style="padding-top: 0">
            <img src="/images/screenshot_2.png" alt="Facebook Messenger, installed from WebCatalog">
          </figure>
          <p>Facebook Messenger, installed from WebCatalog.</p>
        </div>
        <div class="column is-4" style="padding-top: 42px">
          <p class="title is-5">Open from Launchpad or Spotlight</p>
          <p class="title is-5">Open from Start Menu or Desktop</p>
          <p class="title is-5">Stay on Dock or Taskbar</p>
          <p class="title is-5">Native Notification</p>
          <p class="title is-5">Split View</p>
          <p class="title is-5">Chromium</p>
          <p class="title is-5">-</p>
          <p class="title is-5">Distraction Free</p>
          <p class="title is-5">Lightweight</p>
          <p class="title is-5">Free</p>
          <p class="title is-5">Open Source</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" style="border-top: 1px solid #dbdbdb">
  <div class="container">
    <div class="content has-text-centered">
      <h2 style="margin-bottom: 30px">Try now! It's free!</h2>
      <div class="columns is-desktop">
        <div class="column is-3 is-offset-3">
          <a class="button is-black" style="margin-bottom: 6px" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-<%= webcatalogVersion %>.dmg" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-apple"></i>
            <span>&nbsp;Download for macOS</span>
          </a>
          <p>macOS 10.9 or higher.</p>
        </div>
        <div class="column is-3">
          <a class="button is-black" style="margin-bottom: 6px; background-color: #0078D6" href="https://github.com/webcatalog/webcatalog/releases/download/v<%= webcatalogVersion %>/WebCatalog-Setup-<%= webcatalogVersion %>.exe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-windows"></i>
            <span>&nbsp;Download for Windows</span>
          </a>
          <p>Windows 7 64-bit or higher.</p>
        </div>
      </div>

      <p><a href="https://github.com/webcatalog/webcatalog/releases/tag/v<%= webcatalogVersion %>" target="_blank" rel="noopener noreferrer" style="text-decoration: underline">Other downloads</a></p>
    </div>
  </div>
</section>
